{extend name="basetemplate" /}
{block name="right"}
<!-- 右侧内容框架，更改从这里开始 -->

<xblock><button class="layui-btn" onclick="member_add('仪表收费登记','{:url(\'admin/funds/addMeter\')}','800','550')"><i class="layui-icon">&#xe608;</i>仪表收费登记</button></xblock>
<table class="layui-table">
    <thead>
    <tr>
        <th>
            仪表类型
        </th>
        <th>
        住户名
         </th>
        <th>
            用量
        </th>
        <th>
            单价
        </th>
        <th >
            本月费用
        </th>
        <th>
            开始日期
        </th>

        <th >
            办理人
        </th>
        <th>
            结束日期
        </th>

        <th>
            操作
        </th>
    </tr>
    </thead>
    <tbody>
    {volist name="meters" id="vo"}
    <tr>
        <td>
            {$vo['brand']}
        </td>
        <td >
            {$vo['hostuser']}
        </td>
        <td >
            {$vo['dosage']}
        </td>
        <td>
            {$vo['perprice']}
        </td>
        <td >
            {$vo['expense']}
        </td>
        <td >
            {$vo['start_time']}
        </td>
        <td >
            {$vo['dealer']}
        </td>
        <td >
            {$vo['end_time']}
        </td>

        <td class="td-manage">

            <a style="text-decoration:none" onclick="member_edit('编辑'+'{$vo[\'brand\']}','{:url(\'editMeter\')}','{$vo[\'id\']}','{$vo[\'brand\']}','','510')" href="javascript:;" title="修改">
                <i class="layui-icon">&#xe642;</i>
            </a>

        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div id="page" style="margin-left: 300px;">{$meters->render()}</div>
<!-- 右侧内容框架，更改从这里结束 -->
{/block}
{block name="script"}
<script>
    function member_edit (title,url,id,brand,w,h) {
        var test = window.location.host;
        console.log(test+url+'?id='+id);
        url = "http://"+test+url+'?id='+id+'&brand='+brand;
            x_admin_show(title,url,w,h);


    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type:'post',
                url:'{:url(\'admin/funds/deleteFunds\')}',
                data:{'id':id},
                success:function(data){
                    $(obj).parents("tr").remove();
                    layer.msg(data.msg,{icon:1,time:1000});

                },
                error:function(data) {
                    console.log(data.msg);
                }
            });
        });
    }

</script>
{/block}