{extend name="public" /}
{block name="content"}
            <form class="layui-form" >
                <div class="layui-form-item">
                    <label for="L_email" class="layui-form-label">
                        公告标题
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_title" name="title" required lay-verify="title"
                                autocomplete="off" value="" class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <label for="L_createtime" class="layui-form-label">
                        发布时间
                    </label>
                    <div class="layui-inline">
                        <div class="layui-input-inline xbs768">
                            <input class="layui-input" name="createtime" placeholder="开始日" id="LAY_demorange_s">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_expiretime" class="layui-form-label">
                        过期时间
                    </label>
                    <div class="layui-inline">
                        <div class="layui-input-inline xbs768">
                            <input class="layui-input" name="expiretime" placeholder="结束日" id="LAY_demorange_e">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="L_content" class="layui-form-label">
                        公告内容
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请注意文明用语哦" id="L_sign" name="content" autocomplete="off"
                                  class="layui-textarea" style="height: 80px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_sign" class="layui-form-label">
                    </label>
                    <button class="layui-btn" key="set-mine" lay-filter="save" lay-submit>
                        发布
                    </button>
                </div>
            </form>
{/block}
{block name="specific"}
<script>
    layui.use(['layer','form'],function () {
        var form = layui.form();
        form.on('submit(save)',function (data) {
            $.ajax({
                type:"post",
                url:'{:url(\'admin/notice/add\')}',
                data:{"title":data.field.title,"createtime":data.field.createtime,
                    "expiretime":data.field.expiretime,"content":data.field.content},
                success:function (data) {
                    if(data.error == 0 ){
                        layer.msg(data.msg,{icon:6});
                        var url = '{:url(\'admin/notice/list\')}';
                        setTimeout(function(){
                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        },1000);
                    }else{
                        layer.msg(data.msg,{icon:5});
                    }
                },
                error:function (data) {
                    console.log(data);
                }
            });
            return false;
        });
    })
</script>
{/block}